body {
    background: url(banner-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    box-sizing: border-box;
}

.container-header {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 0;
    font-family: "Raleway", sans-serif;
}

.logo img {
    width: 180px;
    padding: 0 20px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
    transition: opacity 0.2s;
}

.nav a:hover {
    opacity: 0.7;
}

.nav1 a {
    padding-right: 25px;
}

.nav2 a {
    padding-left: 25px;
}

.container2 {
    width: 100%;
    max-width: 1100px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    color: white;
    font-family: "Raleway", sans-serif;
    width: 550px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.text p {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
}

.text h2 {
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0;
    margin-bottom: 30px;
    margin-top: 15px;
}

.text button {
    width: 200px;
    height: 45px;
    border-radius: 300px;
    border: none;
    letter-spacing: 2px;
    cursor: pointer;
    color: #5c5c5c;
    font-weight: 600;
    background: white;
}