* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {

    width: 100%;
    height: 100vh;
}

.disco {
    background-image: url(./images/5234906.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: yellow;
    animation: danceFloor 3s ease-in-out infinite alternate;
}

@keyframes danceFloor {

    0% {
        background-color: yellow;
    }

    25% {
        background-color: tomato;
    }

    50% {
        background-color: springgreen;
    }

    75% {

        background-color: sandybrown;
    }

    100% {

        background-color: royalblue;
    }

}

.movingBackground {
    background-image: linear-gradient(to right top,
            #eb0506, #f80042, #f60073, #e000a5, #b31cd3, #cf0fce, #e802c8, #ff00c1, #ff217a, #ff7e2e, #ffc600, #c8ff00);
    background-size: 200%;
    animation: backgroundChange 3s infinite alternate;
}

@keyframes backgroundChange {
    0% {
        background-position: 0% 100%;
    }

    50% {

        background-position: 100% 200%;
    }

    100% {
        background-position: 0% 100%;
    }
}

.cold {

    background-image: url(./images/img_20190609_140908_burst003.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
}

.cold img {
    width: 200px;
    animation: cold 3ms infinite alternate;
    animation-delay: 5s;
}

@keyframes cold {

    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(2deg);
    }

    50% {
        transform: rotate(0);
    }

    75% {
        transform: rotate(-2deg);

    }

    100% {
        transform: rotate(0);
    }


}

.car {

    position: relative;
    min-height: 100vh;

}

.imgRoad {
    width: 100%;
    position: absolute;
    min-height: 100vh;
    z-index: -1;

}

.imgCar {
    animation: carMoving 3s infinite;
    position: absolute;
    width: 400px;
    top: 700px;
}

@keyframes carMoving {
    from {
        transform: translate(-1000px);
    }

    to {
        transform: translate(2000px);
    }
}

.heart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart img {
    width: 300px;
    animation: heartBeat infinite 1s;
}

@keyframes heartBeat {
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.5);
    }
    50%{
        transform: scale(1);
    }

    75%{
        transform: scale(1.5);

    }

    100%{
        transform: scale(1);
    }
}