* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

img {
    width: 850px;
}

p {
    position: absolute;
    bottom: 150px;
    font-size: 2rem;
    width: 800px;
    text-wrap: wrap;
    height: 110px;
    overflow: auto;
}

button {

    position: absolute;
    padding: 20px 30px;
    cursor: pointer;
    border: none;
    opacity: 0;
}