@import '~bootstrap/scss/bootstrap';

@import 'list';

body {
    background-color: #c1c1cc;
    
  };


  nav {

    background-color: #b0b0fa;
  }

  .big {

    font-size: 100px;
  }

  .mid {

    font-size: 40px;
  }