#nr2 {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    gap: 10px;
    margin: 20px;
}

/* Kvadrato stilius */
.kvadratas {
    width: 80px;
    height: 80px;
    background-color: lightgray;
    cursor: pointer;
}